html, body {
	height: 100%;
}
header {
	width: 100%;
	display: block;
	padding: 0px 10%;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}
.active > a {
	color: #f5f5f5;
}
li.active {
	background-color: #555 !important;
}
.main {
	display: block;
	margin: 0px 10%;
	font-size: 17px;
}
.lang {
	float: right;
	display: inline-block;
	list-style-type: none;
	position: relative;
	top: 50px; 
}
.lang > li{
	display: inline-block;
}

.menu {
	list-style-type: none;
	text-align: center;
	margin: 0px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px !important;
	font-size: 16px;
	-webkit-padding-start: 0px;
}
.menu > li {
	display: inline-block;
	border-right: 1px solid;
}
.menu > li:nth-child(7) {
	border-right: none;
}
.menu > li > a {
	padding: 0px 20px;
	display: block;
	font-size: 17px;
	color: #999;
	transition: 0.5s linear;
}
.menu > li > a:hover {
	color: #333;
}
.menu > li.active > a{
	color: #333;
	background-color: white;
}
.logo {
	top: 20px;
}
.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.content {
  display: table-row;
  width: 100%;
  height: 100%;
}
li > a:hover {
	text-decoration: none;
}
.nav > li > a {
	text-transform: uppercase;
}
.navbar-nav > li > a:hover {
	color: #555 !important;
}
#img {
	width: 100%;
}
tr {
	line-height: 1.8;
}
footer	{
	width: 100%;
	display: block;
	padding: 0px 10%;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 1px solid grey;
}
.social {
	list-style-type: none;
	font-size: 13px;
}
.social > a {
	display: inline-block;
	color: #555;
	transition: 0.5s linear;
	margin: 50px 5px;
}
.social > a:hover {
	color: #333;
}
i {
	padding-right: 5px;
}
#form-left > input {
	width: 100%;
	margin-bottom: 6px;
}
textarea {
	width: 100%;
}
input:focus, textarea:focus {
	outline: none;
}
#form {
	padding: 0px;
}
#form-left, #form-right {
	padding: 0px 5px 0px 0px;
}
.navbar-inverse, .navbar-collapse {
	background-color: white !important;
	border-color: white !important;
	min-height: 0px !important;
    margin-bottom: 0px !important;
    border: none !important;
}
button {
	float: right;
}
section {
	padding: 5px 0px;
	background-color: #555;
	font-size: 25px;
	color: #f5f5f5;
	letter-spacing: 2px;
	margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
	header {
		padding: 0px 3px;
	}
	footer {
		padding: 0px 3px;
	}
	.main {
		margin: 0px 0px;
	}
}