.menu {
	list-style-type: none;
	text-align: center;
	margin: 0px;
}
.menu > li {
	display: inline-block;
	padding: 0px 20px;
	border-right: 1px solid;
}
.menu > li:nth-child(6) {
	border-right: none;
}
.logo {
	float: left;
}
