html, body {
	height: 100%;
	font-family: Arial, sans-serif !important;
}
header {
	display: block;
	margin: 0px 10%;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}
p {
	text-align: justify;
	text-indent: 20px;
}
.title {
	font-size: 20px;
	font-weight: bold;
}
.caption {
	font-size: 15px;
}
h6 {
	position: relative;
	display: block;
	z-index: -1;
	top: -11px;
}
i {
	padding-right: 5px;
}
.active > a {
	color: #f5f5f5;
}
li.active {
	background-color: #555 !important;
}
.link-img {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
} 
.main {
	display: block;
	margin: 0px 10%;
	font-size: 17px;
}
.lang {
	float: right;
	display: inline-block;
	list-style-type: none;
	position: relative;
	top: 50px; 
}
.lang > li{
	display: inline-block;
}

.menu {
	list-style-type: none;
	text-align: center;
	margin: 0px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px !important;
	font-size: 16px;
	-webkit-padding-start: 0px;
}
.menu > li {
	display: inline-block;
	border-right: 1px solid;
	margin-left: -5px;
}
.menu > li:nth-child(6) {
	border-right: none;
}
.menu > li > a {
	padding: 0px 20px;
	display: block;
	font-size: 18px;
	color: #999;
	transition: 0.2s linear;
}
.menu > li > a:hover {
	color: #333;
	background: black;
	color: white;
}
.menu > li.active > a{
	color: #333;
	background: black;
	color: white;
}
.logo {
	top: 20px;
}
table {
	margin-left: 5px;
}
.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.content {
  display: table-row;
  width: 100%;
  height: 100%;
}
li > a:hover {
	text-decoration: none;
}
.nav > li > a {
	text-transform: uppercase;
}
.navbar-nav > li > a:hover {
	color: #555 !important;
}
#img {
	width: 50%;
	float: right;
}
tr {
	line-height: 2.1;
}
footer	{
	display: block;
	margin: 0px 10%;
	padding-top: 0px;
	padding-bottom: 20px;
	border-top: 1px solid grey;
	margin-top: 20px;
}
.social {
	list-style-type: none;
	font-size: 15px;
	margin-top: 6px;
}
.social > a {
	display: inline-block;
	color: #666;
	transition: 0.3s linear;
	margin: 5px 5px;
}
.social > a:hover {
	color: #333;
}
#form-left > input {
	width: 100%;
	margin-bottom: 18px;
}
textarea {
	width: 100%;
}
input:focus, textarea:focus {
	outline: none;
}
#form {
	padding: 0px;
}
#form-left, #form-right {
	padding: 0px 5px 0px 0px;
}
.navbar-inverse, .navbar-collapse {
	background-color: white !important;
	border-color: white !important;
	min-height: 0px !important;
    margin-bottom: 0px !important;
    border: none !important;
}
button {
	float: right;
}
#send-res {
	height: 14px;
	display: inline-block;
	position: relative;
	top: -30px;
}
section {
	padding: 5px 0px;
	background-color: #555;
	font-size: 25px;
	color: #f5f5f5;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.heading {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
}
.news {
	background-color: #d5d4d1;
	margin: 0px 15px 5px 15px !important;
	padding: 10px;
	margin-top: 10px !important;
	margin-bottom: 5px !important;
}
.non-par {
	text-indent: 0px;
}
@media screen and (max-width: 768px) {
	header {
		padding: 0px 3px;
		width: 100%;
		margin: 0;
	}
	.news {
		padding: 5px !important;
		margin: 10px 5px 10px 5px !important;
	}
	footer {
		padding: 0px 3px;
		width: 100%;
		margin: 20px 0 0 0;
	}
	.main {
		margin: 0px 0px;
	}
	#img {
		width: 100%;
	}
}